server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: "" # Tắt Git bằng cách để trống
        native:
          search-locations: ${SEARCH_LOCATION}
  profiles:
    active: native